* {
  margin:0;
  padding: 0;
}
body{
  font-family: 'Noto Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
p{
  font-size: 14px;
}
/* ========= Primary color ============= */
.bg-color{
  background-color: #8e3402;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  margin-bottom: 0;
}
/* ========= Bar Contact Info ============= */

.bar-contact-info ul {
    margin:0;
    padding: 0;
    text-align: left;
}
.bar-contact-info ul li {
    color: #a1a1a1;
    list-style: none;
    display: inline;
    padding-left: 10px;
    font-size: 14px;
}
.header{
  background-color: #FFF;
}

.header-slider .item{
    position: relative;
    text-align: center;
}
.header-slider .item img{
  height: 500px;
  width: auto;;
  display: block;
  margin: auto;
}
.header-slider .item p{
  color: white;
  font-size: 23px;
  background-color: rgba(18, 19, 29, 0.68);
}
.header-slider .bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/* ============= Footer ============== */
.footer{
  padding-top: 35px;
}
.footer ul li{
  list-style: none;
  display:block;
  padding-left: 50px;
  padding-bottom: 20px;
  transition: all 1s;
 -moz-transition: all 1s;
 -o-transition: all 1s;
 -webkit-transition: all 1s;
}
#scroll-top a i {
    font-size: 25px;
    padding: 20px;
}